<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course


# Data Science Tools and Ecosystem

# Execute it as a markdown cell
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

# Execute as a markdown cell
1. Python
2. R
3. Scala
4. Java

# Execute as a markdown cell
1. Pandas
2. NumPy
3. SciPy

## Execute as a markdown cell

| Data Science Tools|
| -------------|
| MySQL|
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [2]:
## Click here and use Run Selected Cells to execute it.
(3*4)+5

17

In [3]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

##  Author:
Hajer